.about-content {
    align-items: stretch;
    background-color: black;
    display: flex;
    min-height: fit-content;
    overflow: hidden;
    width: 99vw;
}

.about-img {
    filter: drop-shadow(1.5vw 3vh 2px white);
    height: auto;
    width: 80%;
}

.about-img-wrapper {
    flex: 1;
    height: 48vw;
    overflow: hidden;
    position: relative;
}

.about-info-wrapper {
    flex: 1;
    padding-left: 7vh;
}

.about-me {
    font-family: var(--main-font);
    font-size: 1.04vw;
    font-weight: 400;
    line-height: 1.7vw;
    margin-top: 1.95vw;
    text-align: left;
}

.about-me-opener {
    font-family: var(--main-font);
    font-size: 1.55vw;
    font-weight: 600;
    margin-top: 4.8vw;
    text-align: left;
}

.about-title {
    color: white;
    display: block;
    font-family: "Speedy";
    font-size: 6vw;
    padding-top: 8.65vw;
    position: relative;
    text-align: left;
    width: fit-content;
    z-index: 5;
}

.about-title::after {
    background-image: linear-gradient(to right, orange, darkred);
    bottom: -2.62vw;
    content: "";
    height: 0.15vw;
    left: 0;
    position: absolute;
    width: 60vw; /* extend into the image column */
    z-index: 5;
}

.pg-break {
    margin-top: 1.4vw;
}

@media (max-width: 902px) {
    .about-img-wrapper {
        height: 55vw;
    }
}

@media (max-width: 787px) {
    .about-content {
        min-height: 72vw;
    }
}

/* mobile */
@media (max-width: 600px) {
    .about-content {
        min-height: 100vh;
    }

    .about-dash {
        justify-self: center;
        background-image: linear-gradient(to right, orange, darkred);
        height: 1.5px;
        margin-top: 16px;
        width: 85vw;
    }

    .about-img {
        display: flex;
        filter: none;
        justify-self: center;
        width: 50%;
    }

    .about-img-wrapper {
        align-items: center;
        display: flex;
        height: fit-content;
        justify-content: center;
        margin-top: 12px;
    }
    
    .about-info-wrapper {
        padding-left: 6vw;
        padding-right: 12vw;
    }

    .about-me {
        font-size: 12px;
        line-height: 1.25;
        margin-top: 10px;
    }

    .about-me-opener {
        font-size: 18px;
        margin-top: 20px;
    }

    .about-title {
        font-size: 40px;
        padding-top: 80px;
    }

    .about-title::after {
        content: none;
        background: none;
        width: 0;
        height: 0;
    }

    .pg-break {
        margin-top: 12px;
    }
}