.contact-btn {
    align-items: center;
    background: linear-gradient(180deg, red, rgb(80, 0, 0));
    border: 1px solid rgba(180, 0, 0, 0.4);
    border-radius: 8px;
    box-shadow: 0px 2px 4px gray;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: var(--main-font);
    font-size: 1.3vw;
    font-weight: 300;
    height: 3.45vw;
    justify-content: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.8),
                 0 0 20px rgba(0, 0, 0, 0.6),
                 0 0 40px rgba(0, 0, 0, 0.4);
    width: 14vw;
}

.contact-btn:hover {
    background: linear-gradient(45deg, orangered, darkOrange);
    border: 1px solid rgba(255, 255, 255, 0);

    .discord-img, .github-img, .instagram-img, .linkedIn-img {
        filter: drop-shadow(0 0 2px rgb(30,30,30));
    }
}

.contact-btn-rows {
    align-items: center;
    display: flex;
    font-family: var(--main-font);
    font-size: 1.5vw;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(255, 60, 0, 0.6),
                 0 0 20px rgba(255, 60, 0, 0.4),
                 0 0 40px rgba(255, 60, 0, 0.2);
}

.contact-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.85vw;
    padding: 1.6vw 5vw;
}

.contact-content {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.contact-footer {
    display: flex;
    font-family: var(--main-font);
    font-size: 1.25vw;
    height: fit-content;
    justify-content: center;
    margin-bottom: 2vw;
    width: 100vw;
}

.contact-footer-btn {
    background: transparent;
    border-color: white;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-family: var(--main-font);
    font-size: 1vw;
    font-weight: 500;
    height: 2.3vw;
    width: 9vw;
}

.contact-footer-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.4),
                 0 0 40px rgba(255, 255, 255, 0.2);
}

.contact-footer-btn-row {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
    height: fit-content;
    justify-content: center;
    margin-top: 8vw;
    margin-bottom: 1vw;
    width: 100vw;
}

.contact-footer-wrapper {
    height: fit-content;
}

.contact-info {
    flex: 0 0 40%;
}

.contact-message {
    font-family: var(--main-font);
    font-size: 1.75vw;
    font-weight: 500;
    padding: 0 5vw;
    padding-top: 0vh;
    line-height: 1.25;
    text-align: left;
}

.contact-title {
    flex: 0 0 60%;
}

.contact-title-1 {
    font-family: "Speedy";
    font-size: 10vw;
    line-height: 1;
    padding-left: 3vw;
    text-align: left;
}

.contact-title-2 {
    font-family: "Speedy";
    font-size: 10vw;
    line-height: 1;
    text-align: right;
}

.contact-title-email {
    align-items: center;
    background: linear-gradient(to right, orange, darkred);
    display: flex;
    font-family: var(--main-font);
    font-size: 2.2vw;
    font-weight: 300;
    justify-content: center;
    line-height: 1;
    margin-top: 6vh;
    padding: 0.95vw 0;
    position: relative;
}

.discord-img {
    padding-right: 0.75vw;
    width: 2vw;
}

.github-img {
    padding-right: 0.75vw;
    width: 1.8vw;
}

.hover-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 6px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2vw;
    margin-right: 3.25vw;
    padding: 6px 10px;
    position: absolute;
    right: 0;
    transition: opacity .2s;
    white-space: pre-wrap;
}

.hover-box:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.4),
                 0 0 40px rgba(255, 255, 255, 0.2);
}

.hover-box:hover + .my-email {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-thickness: 0.1vw;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.6),
                 0 0 20px rgba(255, 255, 255, 0.4),
                 0 0 40px rgba(255, 255, 255, 0.2);
    text-underline-offset: 0.4vh;
}

.instagram-img {
    padding-right: 0.75vw; 
    width: 1.75vw;
}

.linkedIn-img {
    padding-right: 0.75vw;
    width: 1.8vw;
}

.top-align {
    display: inline-block;
    height: 1.75vw;
    line-height: 3;
}

/* mobile */
@media (max-width: 600px) {
    .contact-btn {
        border-radius: 4px;
        box-shadow: 0 1px 3px rgb(150, 150, 150);
        font-size: 10px;
        font-weight: 400;
        height: 30px;
        justify-content: center;
        width: 110px;
    }

    .contact-btn:hover {
        background: linear-gradient(0deg, orangered, darkOrange);
    }

    .contact-btn-rows {
        font-size: 12px;
        font-weight: 500;
    }

    .contact-btn-wrapper {
        flex-direction: column;
        gap: 0.45rem;
        padding-top: 1.5vh;
    }
    
    .contact-content {
        flex-direction: column;
        height: auto;
        min-height: auto;
        padding-top: 0px;
    }

    .contact-footer {
        font-size: 10px;
        margin-top: 4px;
        margin-bottom: 16px;
    }

    .contact-footer-btn {
        font-size: 9px;
        height: 23px;
        width: 90px;
    }

    .contact-footer-btn-row {
        gap: 8px;
        margin-top: 24px;
        margin-bottom: 0vw;
    }

    .contact-info {
        flex: 0 0 100%;
        padding-top: 0vh;
    }

    .contact-message {
        font-size: 12px;
        padding-top: 3vh;
    }

    .contact-title {
        padding-top: 10vh;
    }

    .contact-title-1, .contact-title-2 {
        font-size: 70px;
        padding: 0 20px;
    }

    .contact-title-email {
        font-size: 14px;
        font-weight: 400;
        margin-top: 3vh;
        padding: 1vh 0;
        width: 95%;
    }

    .discord-img {
        padding-right: 6px;
        width: 16px;
    }

    .github-img {
        padding-right: 6px;
        width: 15.5px;
    }

    .hover-box {
        font-size: 7px;
    }

    .hover-box:hover + .my-email {
        text-decoration: none;
        text-shadow: none;
    }

    .instagram-img {
        padding-right: 6px;
        width: 15px;
    }

    .linkedIn-img {
        padding-right: 6px;
        width: 15.5px;
    }

    .top-align {
        display: inline-block;
        height: 12px;
        line-height: 1.25;
    }
}