.discord-image {
    width: 1.85vw;
}

.instagram-image {
    width: 1.43vw;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
}

.intro-job-role {
    background-image: linear-gradient(to right, rgba(255,255,255,0.3), black);
    color: #FFFF33;
    font-family: "Speedy";
    font-size: 2.6vw;
    line-height: 1.2em;
    text-shadow: 4px 4px 1px black;
    -webkit-text-stroke: 0.5px brown;
}

.intro-location {
    background-image: linear-gradient(to left, rgba(255,255,255,0.3), black);
    color: white;
    font-family: "Speedy";
    font-size: 1.85vw;
    text-shadow: 3px 3px 1px rgba(255, 0, 0, 0.4);
    -webkit-text-stroke: 0px;
}

.intro-text {
    align-self: flex-start;
    font-family: var(--secondary-font);
    margin-top: 110px;
    max-height: 100%;
    text-align: left;
    width: 100%;
}

.intro-title {
    color: white;
    font-family: "Astro";
    font-size: 5.2vw;
    line-height: 1.7vw;
    margin-left: 8vw;
    margin-top: 2.5vw;
    padding-bottom: 2vw;
    padding-top: 0;
    text-shadow: 0 6px 1px maroon, 6px 0 1px orangered;
    -webkit-text-stroke: 0.5px black;
}

.linkedIn-image {
    width: 1.55vw;
}

.portrait-wrapper {
    align-items: flex-end;
    display: flex;
    justify-content: center;
    margin-top: 6.5vw;
    width: 100%;
}

.resume-button {
    align-items: center;
    background: linear-gradient(180deg, red, rgb(90, 0, 0));
    border: 1px solid rgba(180, 0, 0, 0.4);
    border-radius: 4px;
    box-shadow: 0px 2px 8px gray;
    color: white;
    cursor: pointer;
    display: flex;
    font-family: var(--main-font);
    font-size: 1.1vw;
    height: 3vw;
    justify-content: center;
    margin-left: 8vw;
    width: 15.7vw;
}

.resume-button:hover {
    background: linear-gradient(0deg, orangered, darkOrange);
    border: 1px solid rgba(255, 255, 255, 0);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6),
                 0 0 20px rgba(0, 0, 0, 0.4),
                 0 0 40px rgba(0, 0, 0, 0.2);
}

.self-image {
    height: 35vw;
    max-width: 35vw;
}

.socials-icons {
    display: flex;
    gap: 1vw;
    margin-left: 8vw;
}

.socials-icons-button-formatting {
    align-items: center;
    background: linear-gradient(180deg, red, rgb(100, 0, 0));
    border: 1px solid rgba(180, 0, 0, 0.4);
    border-radius: 4px;
    box-shadow: 0px 2px 8px gray;
    cursor: pointer;
    display: flex;
    height: 2.7vw;
    justify-content: center;
    width: 4.55vw;
}

.socials-icons-button-formatting:hover {
    background: linear-gradient(45deg, orangered, darkOrange);
    border: 1px solid rgba(255, 255, 255, 0);

    .discord-image, .github-image, .instagram-image, .linkedIn-image {
        filter: drop-shadow(0 0 2px rgb(30,30,30));
    }
}

.socials-message {
    font-family: "Speedy";
    font-size: 1.4vw;
    line-height: 0;
    margin-left: 8vw;
    margin-top: 6vw;
}

.welcome-message {
    font-family: 'Speedy';
    font-size: 1.45vw;
    line-height: 0;
    margin-left: 8vw;
}

/* small desktop */
@media (max-width: 1280px) {
    .intro-content {
        margin-bottom: 100px;
    }
}

/* mobile */
@media (max-width: 600px) {
    .discord-image {
        width: 20px;
    }

    .instagram-image {
        width: 16px;
    }

    .intro-content {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .intro-job-role {
        font-size: 23px;
        line-height: 1.4;
        text-shadow: 2px 2px 1px black;
    }

    .intro-location {
        background: none;
        font-size: 18px;
        text-shadow: 3px 2px 1px rgba(255, 0, 0, 0.4);
    }

    .intro-text {
        display: flex;
        align-self: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        margin-top: 0vh;
    }

    .intro-title {
        font-size: 44px;
        justify-self: center;
        line-height: 0.35em;
        margin-left: 0vw;
        margin-top: -3.75vw;
        padding-bottom: 2.5vh;
        padding-top: 0.5vh;
        text-align: center;
        text-shadow: 0 4px 1px maroon, 4px 0 1px orangered;
    }

    .linkedIn-image {
        width: 16.8px;
    }

    .portrait-wrapper {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        margin-top: 0vw;
        padding-top: 70px;
        width: 100%;
    }

    .resume-button {
        align-self: center;
        appearance: none;
        background: linear-gradient(180deg, red, rgb(80, 0, 0));
        border: 1px solid rgba(180, 0, 0, 0.4);
        box-shadow: 0px 2px 4px gray;
        font-size: 13px;
        font-weight: 500;
        height: 35px;
        justify-self: center;
        margin-left: 0vw;
        width: 175px;
        -webkit-appearance: none;
    }

    .resume-button:hover {
        background: linear-gradient(0deg, orangered, darkOrange);
    }

    .self-image {
        height: 250px;
        max-width: 250px;
    }

    .socials-icons {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
        margin-left: 0vw;
        margin-top: -4px;
    }

    .socials-icons-button-formatting {
        background: linear-gradient(180deg, red, rgb(80, 0, 0));
        border: 1px solid rgba(180, 0, 0, 0.4);
        box-shadow: 0px 1px 4px gray;
        height: 32px;
        width: 50px;
    }

    .socials-icons-button-formatting:hover {
        background: linear-gradient(0deg, orangered, darkOrange);
    }

    .socials-message {
        font-size: 14px;
        line-height: 0.5;
        margin-left: 0vw;
        margin-top: 6vh;
        text-align: center;
    }

    .welcome-message {
        font-size: 15px;
        justify-self: center;
        line-height: 1.5;
        margin-left: 0vw;
        text-align: center;
    }
}