.skills-card {
    background: #222222;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 12px;
    box-shadow: 0 2px 4px white;
    opacity: 0;
    padding: 24px 16px;
    transform: translateY(30px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.skills-card.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.skills-card-content {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 6px;
    box-shadow: 0 1px 2px white;
    display: flex;
    padding: 8px 10px;
    text-shadow: 0 0 6px black;
}

.skills-card-content:hover {
    background-color: rgba(255, 255, 255, 0.35);
    padding: 0 8px;
    text-shadow: 2px 2px 4px black;
    transform: translateY(-2px);
}

.skills-card-item {
    color: orange;
    font-family: var(--main-font);
    font-size: 13px;
    line-height: 1.7;
}

.skills-card-items-wrapper {
    display: grid;
    gap: 8px;
    grid-template-columns: 1fr 1fr;
    text-align: left;
}

.skills-card-title {
    color: rgb(255, 180, 0);
    font-family: var(--main-font);
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
    text-shadow: 0 0 6px black;
}

.skills-content {
    background-color: black;
    min-height: 100vh;
}

.skills-dash {
    background-color: orangered;
    height: 1.25px;
    justify-self: center;
    margin-top: 24px;
    width: 75px;
}

.skills-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 8vh;
    width: 100vw;
}

.skills-item-icon {
    align-items: center;
    display: flex;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.6));
    justify-content: center;
    padding-right: 10px;
}

.skills-section-title {
    font-family: var(--main-font);
    font-size: 48px;
    margin-bottom: 6vh;
    padding-top: 7.65vw;
}

.skills-yoe {
    color: lightgray;
    font-size: 12px;
}

@media (max-width: 1447.99px) {
    .skills-grid {
        grid-template-columns: repeat(auto-fill, minmax(max(350px, 50% - 16px), 1fr));
        width: 90vw;
    }
}

@media (max-width: 734px) {
    .skills-dash {
        height: 1px;
        margin-top: 16px;
        width: 50px;
    }

    .skills-section-title {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-size: 36px;
        justify-content: center;
        margin-bottom: 36px;
        padding-top: 16vh;
    }
}