.cursor {
    background-color: orangered;
    display: inline-block;
    height: 1.1em;
    margin-left: 0.2vw;
    vertical-align: middle;
    width: 0.15vw;
}

.cursor.blink {
    animation: blink 0.7s steps(1) infinite;
}

.typing-wrapper {
    display: inline-block;
    font-family: inherit;
    line-height: 1em;
    min-height: 1.15em;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* mobile */
@media (max-width: 600px) {
    .cursor {
        width: 2px;
    }
}