/* Define the total width of the vertical scrollbar */
::-webkit-scrollbar {
  height: 0;
  width: 16px;
}

/* Style the background track (the runway) */
::-webkit-scrollbar-track {
  background: white; 
  border-radius: 0px;
}

/* Style the draggable handle (the thumb) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgb(180, 0, 0), rgb(255, 120, 0));
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 4px;
}

/* Change thumb (handle) color when hovering */
::-webkit-scrollbar-thumb:hover {
  background: maroon;
  background-clip: padding-box;
  border: 2px solid transparent;
}

/* Universal styling for both UP/DOWN scrollbar buttons */
::-webkit-scrollbar-button:single-button {
  border: 1px solid transparent;
  display: block;
  height: 14px;
}

/* Styling specifically for UP scrollbar arrow */
::-webkit-scrollbar-button:vertical:decrement {
  background-image: url('assets/up-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Styling specifically for DOWN scrollbar arrow */
::-webkit-scrollbar-button:vertical:increment {
  background-image: url('assets/down-arrow.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-section {
  height: fit-content;
  min-height: fit-content;
}

.contact-section {
  height: fit-content;
}

.intro-section {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    min-height: 100vh;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;              /* sticks to the top */
    width: 100%;         /* keeps centering correct */
    z-index: 1000;       /* keeps it above page content */
}

.projects-section {
    height: fit-content;
    min-height: 100vh;
}

.skills-section {
    height: fit-content;
    min-height: 100vh;
}

/* small desktop */
@media (max-width: 1280px) {
  .intro-section {
    height: auto;
    min-height: auto;
  }
}

/* mobile */
@media (max-width: 600px) {
  .contact-section {
    height: auto;
    min-height: auto;
  }

  .intro-section {
    height: auto;
    min-height: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
