.about-section {
  height: fit-content;
  min-height: fit-content;
}

.contact-section {
  height: fit-content;
}

.intro-section {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: left;
    min-height: 100vh;
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;              /* sticks to the top */
    width: 100%;         /* keeps centering correct */
    z-index: 1000;       /* keeps it above page content */
}

.projects-section {
    height: fit-content;
    min-height: 100vh;
}

/* small desktop */
@media (max-width: 1280px) {
  .intro-section {
    height: auto;
    min-height: auto;
  }
}

/* mobile */
@media (max-width: 600px) {
  .contact-section {
    height: auto;
    min-height: auto;
  }

  .intro-section {
    height: auto;
    min-height: auto;
  }
}
